<section class="banner" role="banner">
  <header id="header">
      <div class="header-content clearfix">
          <p class='logo'>Projecture</p>
          <nav class="navigation" role="navigation">
              <ul class="primary-nav">
                  <li><a href="#features">Features</a></li>
                  <li><a href="/register">Register</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="#teams">Contact Us</a></li>
              </ul>
          </nav>
          <a href="#" class="nav-toggle">Menu<span></span></a>
      </div><!-- header content -->
  </header><!-- header -->