<% layout('layouts/boilerplate')%>
<div>
    <section class="banner1" style="height:10px">
        <header id="header">
            <div class="header-content">
                <p class='logo'>Projecture</p>
                <!-- <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                    </ul>
                </nav> -->
                <!-- <a href="#" class="nav-toggle">Menu<span></span></a> -->
            </div><!-- header content -->
        </header><!-- header -->
    
   
    </section><!-- banner -->
    <form class="form-signin">       
        <h2 class="form-signin-heading">Please Register</h2>
        <input type="password" class="form-control" name="username" placeholder="Full Name" required=""/>   
        <input type="password" class="form-control" name="password" placeholder="Register as:" required=""/>   
        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
        <input type="password" class="form-control" name="password" placeholder="Re-Type Password" required=""/>     
        <label class="checkbox">
          <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>   
      </form>
  </div>

